<page-title
    firstWord="About"
    secondWord="RIUDICC"
></page-title>

<section aria-labelledby="about-riudicc">
    <div class="mb-6 md:mb-15">
        <h2
            id="about-riudicc"
            class="mt-10 md:mt-20 text-left font-['Roboto'] tracking-wide"
        >
            <span class="text-justify block text-2xl md:text-3xl font-light text-gray-500">
                {{aboutContenido()}}
            </span>
        </h2>

    </div>


    <div
        class="mx-auto max-w-5xl  text-justify space-y-6 text-lg md:text-2xl text-gray-700"
        [innerHTML]="aboutContenidoLarge()"
    ></div>




</section>

<section
    aria-labelledby="about-instituciones-section"
    class="mt-10 md:mt-20 mx-auto max-w-5xl"
>
    <h2
        id="about-partners-title"
        class="mt-10  md:mt-20 text-left font-['Roboto'] tracking-wide"
    >
        <span class="block text-4xl md:text-5xl font-light text-gray-500">
            {{sociosTitle()}}
        </span>
    </h2>
    <hr class="mb-6 border-t border-gray-300">


    <div class="mt-5 md:mt-10 mb-10 md:mb-15   text-justify space-y-6">


        <!-- Loader -->
        @if (institucionesResponse.isLoading()) {
        <div class="flex justify-center items-center py-10">
            <span class="loading loading-spinner loading-lg text-primary"></span>
        </div>
        }

        <!-- No data -->




        <ol class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-6">
            @for (institucion of institucionesResponse.value()?.items; track $index) {

            <institucion-card-short [institucion]="institucion"></institucion-card-short>
            }
            @empty {
            <div class="flex justify-center items-center py-10">
                <span class="loading loading-spinner loading-lg text-primary"></span>
            </div>
            }

        </ol>
    </div>


    <div
        class="mx-auto max-w-5xl  text-justify space-y-6 text-lg md:text-2xl text-gray-700"
        [innerHTML]="aboutContenidoInstitciones()"
    ></div>



</section>