<page-title
    firstWord="{{titulo()}}"
    secondWord="RIUDICC"
></page-title>

<section aria-labelledby="news-section">

    @if (noticiasResponse.isLoading()) {
    <div class="flex justify-center items-center h-screen">

        <span class="loading loading-spinner loading-lg"></span>
    </div>
    }

    @if (noticiasResponse.hasValue()) {
    <div class="flex flex-col gap-8">
        @for (noticia of noticiasResponse.value().items; track $index) {
        <noticia-card
            [noticia]="noticia"
            [horizontal]="true"
        ></noticia-card>
        }
    </div>
    }


</section>