<div class="flex items-center justify-center min-h-screen">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md">
        <div class="text-center mb-6">
            <img
                src="assets/images/riudicc/logo.png"
                alt="RIUDICC Logo"
                class="w-24 h-24 mx-auto mb-4"
            />
            <h1 class="text-2xl font-bold  font-title">Welcome to RIUDICC</h1>
        </div>
        <router-outlet></router-outlet>
        <div class="mt-6 text-center">
            <p class="text-sm text-gray-600">© 2025 RIUDICC. All rights reserved.</p>
        </div>

    </div>
</div>